{% extends 'base.html' %}
{% block content %}

<h1>Hostel Detail Placeholder</h1>
<ul>
    <li>Name: {{ hostel.name }}</a></li>
    <li>Description: {{ hostel.description }}</li>
    <li>City: {{ hostel.city }}</li>
    <li>Images: {{ hostel.image }}</li>
</div>
{% for photo in hostel.photo_set.all %}
  <img src="{{photo.url}}">
{% empty %}
  <div>No Photos Uploaded</div>
{% endfor %}
{% for photo in hostel.photo_set.all %}
    <img src="{{photo.url}}">
{% empty %}
    <div>No Photos Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'add_photo' hostel.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
</ul>
<br> 
<ul>
    {% for input in inputs %}
        <li>By: {{ input.user_name }}</li>
        <li>Title: {{ input.title }}</li>
        <li>Type: {{ input.type }}</li>
        <li>City: {{ input.city }}</li>
        <li>Description: {{ input.description }}</li>
        <li>Rating: {{ input.rating }}</li>
    {% endfor %}
</ul>

{% endblock %}