{% extends 'base.html' %}
{% block content %}

<h1 class="page_title">(City) Index</h1>

<h2 class="page_title2 pb-1">Explore </h2>
<p class="text-gray-400 pb-8">Much love</p>

<div id="indicators-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative items-center align-middle text-center h-56 rounded-lg drop-shadow-xl shadow-slate-900">
        {% for hostel in hostel_list %}
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
            <div class="  w-[355px] h-[234px] rounded-xl border-1 border-gray-200 bg-hostel bg-contain">
                <div class=" h-[110px]"></div>
                <div class=" bg-slate-100 w-[355px] pb-4 rounded-b-xl">
                    <h2 class="page_title">{{ hostel.name }}</h2>
                    <p class="text-base">City: {{ hostel.city }}</p>
                    <p><a class="rounded-lg border border-bluePalette-300 px-1" href="{% url 'hostel_details' hostel.id %}">Details Here</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Slider controls -->
    <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="hidden">Previous</span>
        </span>
    </button>
    <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="hidden">Next</span>
        </span>
    </button>
</div>

{% comment %} Basic list of all hostels for Dev purposes {% endcomment %}
{% comment %} <div>
    <ul>    
        {% for hostel in hostel_list %}
            <li>Name: <a href="{% url 'hostel_details' hostel.id %}">{{ hostel.name }}</a></li>
        {% endfor %}
    </ul>
</div> {% endcomment %}

{% comment %} Future Experiences based on location {% endcomment %}
<h1 class="page_title2 pt-10 pb-1"> Experiences (IceBox)</h1>
<p class="text-gray-400 pb-8">WAzzz going onnn</p>
<div class="experiences">
    <div id="box1" class="">
        <h2 class="page_title2 text-center">Nature</h2>
        <div class="border rounded-xl block w-[171px] h-[175px] bg-green-700"></div>
    </div>
    <div id="box2" class="pl-3">
        <h2 class="page_title2 text-center">Restaurants</h2>
        <div class="border rounded-xl block w-[171px] h-[175px] bg-gray-400"></div>
    </div>
    <div id="box3" class="pt-7">
        <h2 class="page_title2 text-center">Attractions</h2>
        <div class="border rounded-xl block w-[171px] h-[175px] bg-yellow-400"></div>
    </div>
    <div id="box4" class="pl-3 pt-7">
        <h2 class="page_title2 text-center">Pubs / Bars</h2>
        <div class="border rounded-xl block w-[171px] h-[175px] bg-amber-300"></div>
    </div>
</div>

<hr>
{% comment %} <h1> Community </h1> {% endcomment %}

{% endblock %}