{% extends 'base.html' %}
{% block content %}

<h1>Review Index Placeholder</h1>
<ul>
    {% for input in inputs %}
        <li>Hostel Name: {{ input.hostel }}</li>
        <li>Title: {{ input.title }}</li>
        <li>Type: {{ input.type }}</li>
        <li>City: {{ input.city }}</li>
        <li>Description: {{ input.description }}</li>
        <li>Rating: {{ input.rating }}</li>
        <a href="{% url 'input_update' input.id%}"> Edit</a>
        <a href="{% url 'input_delete' input.id%}"> Delete</a>
    {% endfor %}
</ul>
<a href="{% url 'input_create'%}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add Review</a>

{% endblock %}