{% load static tailwind_tags %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ostel</title>
  {% tailwind_css %}
  {% comment %} Flowbite Tailwind Plugin {% endcomment %}
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.6/dist/flowbite.min.css" />
</head>
<body class="bg-white justify-between h-screen flex flex-col font-Lib">
  <header class="sticky top-0 z-50">
    {% comment %} NAV {% endcomment %}
    <nav class="bg-bluePalette-350">
      <div class="max-w-5xl mx-auto px-2.5">
        <div class="flex items-center h-16">
          <div class="flex-1">
          <a class="text-[31px] bg-ostel bg-cover text-transparent" href="/">HOstel?</a>
          </div>
    {% comment %} Profile page {% endcomment %}
          {% if user.is_authenticated %}
          <button type="button" data-modal-toggle="defaultModal" class="m-2 text-white"> 
            Profile
          </button>
          <div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-auto fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
            <div class="static p-4 w-full max-w-2xl h-full md:h-auto">
                <!-- Modal content -->
                <div class="fixed bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            User Profile
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <div class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            <label class="border-b border-b-bluePalette-500 text-sm">Username </label>
                            <p>{{user.username}} </p>
                            <label class="border-b border-b-bluePalette-500 text-sm">Email </label>
                            <p>{{user.email}} </p>
                            <label class="border-b border-b-bluePalette-500 text-sm"> Name </label>
                            <p>{{user.first_name}} {{user.last_name}}</p>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                      <a class="" href="{% url 'user_profile_edit' user.id %}">Edit Profile</a>
                    </div>
                </div>
            </div>
          </div>
        {% comment %} Dropdown {% endcomment %}
          <div id="dropdownDefault" data-dropdown-toggle="dropdown" class="h-8 bg-hamb bg-contain px-4 py-1 rounded-md opacity-70 hover:opacity-100"></div>
            <!-- Dropdown menu content -->
            <div id="dropdown" class="z-10 hidden bg-bluePalette-200 divide-y divide-gray-100 rounded shadow w-44 border-2 border-bluePalette-400 transition-opacity duration-1000 ease-out ">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                  <li>
                    <a href="{% url 'hostel_index' %}" class=" block px-4 py-2 hover:bg-gray-100 ">Hostel List</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'hostel_create' %}" class="block px-4 py-2 hover:bg-gray-100">Add Hostel</a>
                  </li>
                  <li>
                    <a href="{% url 'input_index' %}" class="block px-4 py-2 hover:bg-gray-100">Community</a>
                  </li>
                  <li>
                    <a href="{% url 'input_create' %}" class="block px-4 py-2 hover:bg-gray-100">Add Review</a>
                  </li>
                  <div class="py-0.5 bg-bluePalette-300"></div>
                  <li>
                    <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-100">Log out</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'signup' %}" class="block px-4 py-2 hover:bg-gray-100">Sign Up</a>
                  </li>
                  <li>
                    <a href="{% url 'login' %}" class="block px-4 py-2 hover:bg-gray-100">Log In</a>
                  </li>
                  {% endif %}
                </ul>
            </div>
          </div>
        {% else %}
        <a href="{% url 'login' %}" class="text-white block px-1 py-0.5 rounded-xl hover:bg-bluePalette-400">Log In</a>
        <a href="{% url 'signup' %}" class="text-bluePalette-350 bg-bluePalette-100 block px-1 py-0.5 hover:bg-bluePalette-400 hover:text-bluePalette-100 border border-bluePalette-200 rounded-2xl">Sign Up</a>
        {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main class="px-[10px] flex-grow">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="px-[10px] static object-bottom">
  
  </footer>
  <script src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"></script>
</body>
</html>
