{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title class='text-red-500'>Hostile Ostel</title>
  {% tailwind_css %}
</head>
<body class="bg-bluePalette-200 container justify-between h-screen">
  <header class="sticky top-0 z-50 h-20">
    {% comment %} NAV {% endcomment %}
    <nav class="bg-bluePalette-400 backdrop-filter backdrop-blur-lg bg-opacity-70">
      <div class="max-w-5xl mx-auto px-4">
        <div class="flex items-center justify-between h-16">
          <span><a href="/" class="left brand-logo">&nbsp;&nbsp;Ostel</a></span>
          <div>
            <a href="{% url 'hostel_index' %}">Hostel List</a></li>
            {% if user.is_authenticated %}
              <a href="{% url 'hostel_create' %}">Add Hostel</a></li>
              <a href="{% url 'input_index' %}">Review List</a></li>
              <a href="{% url 'input_create' %}">Add Review</a></li>
              <a href="{% url 'user_profile' user.id %}">Profile</a></li>
              <a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
              <a href="{% url 'signup' %}">Sign Up</a></li>
              <a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="relative bh">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="">
    <div class="center">All Rights Reserved, &copy; 2022 Ostel LLC &nbsp;</div>
  </footer>
</body>
</html>
