{% extends 'base.html' %}
{% block content %}
<h1 class="font-Lib page_title">Where are you going?</h1>
<div><input type="search" placeholder="Search" class="h-7 rounded-xl w-10/12"></div>
<h2 class="my-5 text-2xl"> Explore </h2>
<div>
<div class="flex flex-col">
    <div class="relative block rounded-2xl my-[15px] bg-toronto bg-cover w-[355px] h-[234px]"><span class=" absolute text-bluePalette-100 border-2 text-base p-0.5 top-0 border-bluePalette-350 rounded-lg m-4 bg-bluePalette-350">Toronto</span> </div>
    <div class="relative block rounded-2xl my-[15px] bg-montreal bg-cover w-[355px] h-[234px]"><span class="absolute text-bluePalette-100 border-2 text-base p-0.5 top-0 border-bluePalette-350 rounded-lg m-4 bg-bluePalette-350">Montreal</span> </div>
    <div class="relative block rounded-2xl my-[15px] bg-hali bg-cover w-[355px] h-[234px]"> <span class="   absolute text-bluePalette-100 border-2 text-base p-0.5 top-0 border-bluePalette-350 rounded-lg m-4 bg-bluePalette-350">Halifax</span></div>
</div>
</div>
{% endblock %}
