{% extends 'base.html' %}
{% block content %}
<div class="border border-bluePalette-400 bg-bluePalette-300 rounded-lg my-4 shadow-lg">
  <h1 class="my-3 text-2xl font-medium p-4">User Updating</h1>
  <form action="{% url 'user_profile_edit' object.id %}" method="POST">
    {% csrf_token %}
    <div class="p-2">
        <div class="mx-4">
          <label for="form.email" class="border-b border-b-bluePalette-500 text-sm"> Email</label>
          <p>{{form.email}}</p>
          <label for="form.first_name" class="border-b border-b-bluePalette-500 text-sm"> First Name</label>
          <p>{{form.first_name}}</p>
          <label for="form.last_name" class="border-b border-b-bluePalette-500 text-sm"> Last Name</label>
          <p>{{form.last_name}}</p>
        </div>
        <div class="border rounded-md p-1 border-bluePalette-400 bg-bluePalette-200 hover:bg-bluePalette-400 m-4 text-center">
        <input type="submit" value="Edit!">
        </div>
    </div>
  </form>
</div>
{% endblock %}